.lista-opciones label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
    width: 100%;
    
}

.lista-opciones select{
    width: 100%;
    background-color: #ffffff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    padding: 24px;
    border: none;
    outline-color: #6278F7;
    font-size: 16px;
    border-radius: 1rem;
}

@media only screen and (max-width: 390px) {
    .lista-opciones label{
        font-size: 0.8rem;
        margin: 0 10px;
        
        
    }
    .lista-opciones select{
        font-size: 0.8rem;
        padding: 0.8rem 1rem;
        width: 95%;
        margin: 0 10px
    }
    
}