.boton{
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    padding: 24px 32px;
    border: none;
    color: #ffffff;
    margin: 32px 0;
    cursor: pointer;
}

.boton:hover{
    color: #95FFD4;
}

@media only screen and (max-width: 368px) {
    .boton{
        padding: 0.8rem 1rem;
        margin-left: 3%;
    }
}